@import "tailwindcss";
.fiji-swiper {
  padding-bottom: 80px;
}

.product-slide img {
  height: 450px;
  width: 250px;
  object-fit: contain;
}

.swiper-slide-active img {
  height: 560px;
  width: 300px;
}

.swiper-pagination-bullet {
  background: transparent;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet img {
  width: 50px;
  height: auto;
}
